<div>

  <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
      <tr style="text-align: left">
          <th>Nombre común</th>
          <th>Nombre científico</th>
          <th>Familia</th>
          <th>Fenología</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let planta of plantas">
        <td (click) ="rowClick(planta)">{{planta.nombrecomun}}</td>
        <td (click) ="rowClick(planta)">{{planta.nombrecientifico}}</td>
        <td (click) ="rowClick(planta)">{{planta.familia}}</td>
        <td (click) ="rowClick(planta)">{{planta.fenologia}}</td>
        <td class="eliminateTd">
          <button mat-button class="eliminateBtn" (click)="eliminar(planta.nombrecomun)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
  