<mat-horizontal-stepper linear #stepper>
    
    <!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup" editable>
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información 1</ng-template>
            <mat-form-field>
                <mat-label>Nombre común</mat-label>
                <input matInput formControlName="nombreComun" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Nombre científico</mat-label>
                <input matInput formControlName="nombreCientifico" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Origen</mat-label>
                <input matInput formControlName="origen" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup" editable>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Información 2</ng-template>

            <mat-form-field>
                <mat-label>Familia</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedFamilia" name="familia">
                    <mat-option *ngFor="let familia of familias" [value]="familia.nombre">
                        {{familia.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Fenología</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedFenologia" name="fenologia">
                    <mat-option *ngFor="let fenologia of fenologias" [value]="fenologia.nombre">
                        {{fenologia.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Método de dispersión</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedMetodo" name="metodo">
                    <mat-option *ngFor="let metodo of metodos" [value]="metodo.nombre">
                        {{metodo.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Agente polinizador</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAgente" name="agente">
                    <mat-option *ngFor="let agente of agentes" [value]="agente.nombre">
                        {{agente.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Requerimientos de luz</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedReqLuz" name="reqLuz">
                    <mat-option *ngFor="let reqLuz of requerimientosLuz" [value]="reqLuz">
                        {{reqLuz}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext [disabled]="missingInfoStep2()">Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step [stepControl]="thirdFormGroup" editable>
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Información 3</ng-template>
            <mat-form-field>
                <mat-label>Mínimo rango altitudinal</mat-label>
                <input matInput formControlName="minRangoAltitudinal" type="number" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Máximo rango altitudinal</mat-label>
                <input matInput formControlName="maxRangoAltitudinal" type="number" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Metros (Si se desconoce, digitar 0)</mat-label>
                <input matInput formControlName="metros" type="number" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Hábito</mat-label>
                <textarea matInput formControlName="habito" required></textarea>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step [stepControl]="fourthFormGroup" editable>
        <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Información 4</ng-template>
            <mat-form-field>
                <mat-label>Frutos</mat-label>
                <input matInput formControlName="frutos" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Textura del fruto</mat-label>
                <input matInput formControlName="texturaFruto" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Flor</mat-label>
                <input matInput formControlName="flor" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Usos conocidos</mat-label>
                <textarea matInput formControlName="usosConocidos" required></textarea>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Paisajes recomendados</mat-label>
                <input matInput formControlName="paisajeRecomendado" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext >Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step [stepControl]="fifthFormGroup" editable>
        <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Imagen</ng-template>
            
            <mat-label>Imagen</mat-label>
            <br/>
            <input type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" required>
            <br/>
            <img id="previewTag" src="" alt="No hay imagen seleccionada">
            <div>
                <button mat-button matStepperNext [disabled] = "nextDisabled" >Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!-- Fin -->
    <mat-step>
        <ng-template matStepLabel>Listo</ng-template>
        <p>Recuerde verificar que la información es la correcta antes de terminar.</p>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button class="submitBtn" type="submit" mat-button (click)="submit()">Terminar</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>