<header>

    <!--https://www.flaticon.com/svg/static/icons/svg/3580/3580187.svg -->
    <!--Icon made by https://www.flaticon.com/authors/mavadee -->

    <!--https://www.flaticon.com/free-icon/user_1946429?term=profile&page=1&position=15&related_item_id=1946429-->
    <!--Icon made by https://www.flaticon.com/authors/freepik -->

    <a mat-button class="anchor" routerLink="/login">
        <mat-icon svgIcon="logout" class="btn-icon"></mat-icon>
    </a>
    
    <a mat-button class="anchor" routerLink="/profile">
        <mat-icon svgIcon="profile" class="btn-icon"></mat-icon>
    </a>

</header>

<p>
    <mat-tab-group mat-align-tabs="start">
        
        <!-- Plantas section -->
        <mat-tab label="Plantas">
            Plantas
        </mat-tab>

        <!-- Viveros section -->
        <mat-tab label="Viveros">
            Viveros
        </mat-tab>

    </mat-tab-group>
</p>

<router-outlet></router-outlet>